@font-face {
  font-family: "Compromis";
  src:
    url("../assets/fonts/manrope-medium.woff2") format("woff2"),
    url("../assets/fonts/manrope-medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Compromis";
  src:
    url("../assets/fonts/manrope-extrabold.woff2") format("woff2"),
    url("../assets/fonts/manrope-extrabold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Avant";
  src:
    url("../assets/fonts/ITCAvantGardePro-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "AvantN";
  src:
    url("../assets/fonts/ITCAvantGardePro-Md.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  
}
