@font-face {
  font-family: "Compromis";
  src:
    url("../assets/fonts/manrope-medium.woff2") format("woff2"),
    url("../assets/fonts/manrope-medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Compromis";
  src:
    url("../assets/fonts/manrope-extrabold.woff2") format("woff2"),
    url("../assets/fonts/manrope-extrabold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Avant";
  src:
    url("../assets/fonts/ITC_ Avant_ Garde Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
